<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <a href="/movies">Listado de movies</a>
    <a href="/movies/new">Estrenos</a>
    <a href="/movies/recommended">Top 5</a>
    <br>
    <a href="/genres">Generos</a>
    <a href="/actors">Actores</a>
    
  </body>
</html>
